/* Hide scrollbar while loading */
body.loading {
    overflow: hidden;
}

/* Line drawing effect */
.svg-draw-path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: drawLine 2s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

/* Node pulse effect */
.svg-node {
    opacity: 0;
    transform-origin: center;
    animation: pulseNode 2s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes pulseNode {

    0%,
    60% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}